/SotreSite/SotreSite/obj
/SotreSite/SotreSite/bin/SotreSite.pdb
/SotreSite/SotreSite/bin/StorySite.Data.dll
/SotreSite/SotreSite/bin/StorySite.Data.dll.config
/SotreSite/SotreSite/bin/StorySite.Data.pdb
/SotreSite/SotreSite/bin/StorySite.Library.dll
/SotreSite/SotreSite/bin/StorySite.Library.pdb
/SotreSite/SotreSite/bin/SotreSite.dll
/SotreSite/SotreSite/bin/SotreSite.dll.config
