/SotreSite/SotreSite/obj
/SotreSite/SotreSite/bin/SotreSite.pdb
/SotreSite/SotreSite/bin/StorySite.Data.dll
/SotreSite/SotreSite/bin/StorySite.Data.dll.config
/SotreSite/SotreSite/bin/StorySite.Data.pdb
/SotreSite/SotreSite/bin/StorySite.Library.dll
/SotreSite/SotreSite/bin/StorySite.Library.pdb
/SotreSite/SotreSite/bin/SotreSite.dll
/SotreSite/SotreSite/bin/SotreSite.dll.config
/SotreSite/SotreSite.Tests/obj
/SotreSite/SotreSite.Tests/bin/Debug/StorySite.Library.pdb
/SotreSite/SotreSite.Tests/bin/Debug/SotreSite.dll
/SotreSite/SotreSite.Tests/bin/Debug/SotreSite.dll.config
/SotreSite/SotreSite.Tests/bin/Debug/SotreSite.pdb
/SotreSite/SotreSite.Tests/bin/Debug/SotreSite.Tests.dll
/SotreSite/SotreSite.Tests/bin/Debug/SotreSite.Tests.dll.config
/SotreSite/SotreSite.Tests/bin/Debug/SotreSite.Tests.pdb
/SotreSite/SotreSite.Tests/bin/Debug/StorySite.Data.dll
/SotreSite/SotreSite.Tests/bin/Debug/StorySite.Data.dll.config
/SotreSite/SotreSite.Tests/bin/Debug/StorySite.Data.pdb
/SotreSite/SotreSite.Tests/bin/Debug/StorySite.Library.dll
/SotreSite/StorySite.Library.Tests/bin/Debug/StorySite.Library.Tests.pdb
/SotreSite/StorySite.Library.Tests/bin/Debug/StorySite.Library.dll
/SotreSite/StorySite.Library.Tests/bin/Debug/StorySite.Library.pdb
/SotreSite/StorySite.Library.Tests/bin/Debug/StorySite.Library.Tests.dll
/SotreSite/StorySite.Library.Tests/obj
/SotreSite/StorySite.Data/obj
/SotreSite/StorySite.Data/bin/Debug/StorySite.Library.pdb
/SotreSite/StorySite.Data/bin/Debug/StorySite.Data.dll
/SotreSite/StorySite.Data/bin/Debug/StorySite.Data.dll.config
/SotreSite/StorySite.Data/bin/Debug/StorySite.Data.pdb
/SotreSite/StorySite.Data/bin/Debug/StorySite.Library.dll
/SotreSite/StorySite.Library/obj
/SotreSite/StorySite.Library/bin/Debug/StorySite.Library.pdb
/SotreSite/StorySite.Library/bin/Debug/StorySite.Library.dll
/SotreSite/.vs/SotreSite/v15/*.suo
